.body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #333;
  background-color: #f4f5f6;
  overflow-x: hidden;
  display: block;
}

.nav-mid li a {
  padding-right: 1.5em;
  border-right: 1px solid grey;
}

.bg-orange {
  background-color: #f72210;
}
.bg-black {
  background-color: black;
  border: tra;
}
/* ul li {
  list-style: none;
  margin-right: 1em;
  padding-right: 1em;
  border-right: 1px solid grey;
} */
