body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #333;
  background-color: #f4f5f6;
  overflow-x: hidden;
  display: block;
}

.nav-mid li a {
  padding-right: 1.5em;
  border-right: 1px solid grey;
  color: #000000;
  font-weight: bold;
}

.bg-orange {
  background-color: #f72210;
}
.bg-black {
  background-color: black;
}

.text-black {
  color: #000000;
}

.spacing {
  letter-spacing: 0.002;
}
/* ul li {
  list-style: none;
  margin-right: 1em;
  padding-right: 1em;
  border-right: 1px solid grey;
} */

.img-size {
  height: 50px;
  width: 50px;
}